{% extends 'base.html' %}
{% load static %}
{% block title %}
    Password Reset Complete
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login_css.css' %}">
{% endblock %}
{% block content %}
    <!-- start banner Area -->
    <section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">Password Reset Complete</h1>
                    <p class="text-white link-nav">
                        <a href="{% url 'website:index_view' %}">Home</a> <span class="lnr lnr-arrow-right"></span>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <section class="vh-100" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <p>Your password has been successfully updated.</p>
                    <p>You can now <a href="{% url 'accounts:login' %}" class="text-warning">login</a> with your new
                        password.</p>
                    <p>If you have any questions or need further assistance, please contact us.</p>
                    <p>Thanks for using our site!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
