{% extends 'base.html' %}
{% load static %}
{% block title %}
    Password Reset Confirm
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login_css.css' %}">
{% endblock %}
{% block content %}
    <!-- start banner Area -->
    <section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">New password</h1>
                    <p class="text-white link-nav">
                        <a href="{% url 'website:index_view' %}">Home</a> <span class="lnr lnr-arrow-right"></span>
                        <a href="#">New password</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <section class="vh-100" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    {% if validlink %}
                        <h1>Set a new password!</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <!-- Password input -->
                            <div class="form-outline mb-2">
                                <input type="password" name="new_password1" id="form3Example4"
                                       class="form-control form-control-lg"
                                       placeholder="Enter password"/>
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <!-- Password Confirmation input -->
                            <div class="form-outline mb-1">
                                <input type="password" name="new_password2" id="form3Example5"
                                       class="form-control form-control-lg"
                                       placeholder="Confirm password"/>
                                <label class="form-label" for="form3Example5">Password Confirmation</label>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-warning btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Change my password
                                </button>
                            </div>
                        </form>

                    {% else %}

                        <h1>Password reset unsuccessful</h1>
                        <p>The password reset link was invalid, <br/>
                            possibly because it has already been used. <br/>
                            Please request a new password reset.</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
