{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login_css.css' %}">
{% endblock %}
{% block content %}
    <!-- start banner Area -->
    <section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">Login</h1>
                    <p class="text-white link-nav">
                        <a href="{% url 'website:index_view' %}">Home</a> <span class="lnr lnr-arrow-right"></span> <a
                            href="{% url 'accounts:login' %}">Login
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <section class="vh-100" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" name='username' class="form-control form-control-lg"
                                   placeholder="Enter a valid Username or Email"/>
                            <label class="form-label" for="form3Example3">Username or Email</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" name="password" id="form3Example4"
                                   class="form-control form-control-lg"
                                   placeholder="Enter password"/>
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="{% url 'accounts:password_reset' %}" class="text-warning">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-warning btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a
                                    href="{% url 'accounts:signup' %}"
                                    class="text-warning">Register</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}